In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

# Load the dataset
file_path = '/content/drive/MyDrive/Dataset.csv'
df = pd.read_csv(file_path)

# Calculate percentage of null values in each column
null_percentages = df.isnull().mean() * 100

# Sort and display
null_percentages = null_percentages.sort_values(ascending=False)
print(null_percentages)

Bilirubin_direct    99.807371
Fibrinogen          99.340167
TroponinI           99.047745
Bilirubin_total     98.509158
Alkalinephos        98.393194
AST                 98.377604
Lactate             97.329872
PTT                 97.055875
SaO2                96.549372
EtCO2               96.286843
Phosphate           95.986303
HCO3                95.810618
Chloride            95.460279
BaseExcess          94.579020
PaCO2               94.440121
Calcium             94.116067
Platelets           94.059502
Creatinine          93.904433
Magnesium           93.689578
WBC                 93.593199
BUN                 93.134434
pH                  93.069688
Hgb                 92.617558
FiO2                91.665754
Hct                 91.145979
Potassium           90.689082
Glucose             82.894325
Temp                66.162697
Unit2               39.425078
Unit1               39.425078
DBP                 31.345887
Resp                15.354559
SBP                 14.576958
O2Sat               13.061119
MAP                 12.451279
HR                   9.882619
HospAdmTime          0.000515
Unnamed: 0           0.000000
Hour                 0.000000
Gender               0.000000
Age                  0.000000
ICULOS               0.000000
SepsisLabel          0.000000
Patient_ID           0.000000
dtype: float64

In [5]:
import pandas as pd

# Load the dataset (update the file path as needed)
file_path = "/content/drive/MyDrive/Dataset.csv"  # Change to your actual file path
df = pd.read_csv(file_path)

# Check the percentage of missing values in each column
missing_percent = df.isnull().mean() * 100

# Drop columns with more than 85% missing values
columns_to_keep = missing_percent[missing_percent <= 85].index
df_cleaned = df[columns_to_keep]

# Drop duplicate rows if any
df_cleaned = df_cleaned.drop_duplicates()

# Fill remaining missing values
for col in df_cleaned.columns:
    if df_cleaned[col].dtype == 'object':  # Categorical columns
        df_cleaned[col].fillna(df_cleaned[col].mode()[0], inplace=True)
    else:  # Numerical columns
        df_cleaned[col].fillna(df_cleaned[col].mean(), inplace=True)

# Save the cleaned dataset
cleaned_file_path = "Cleaned_Dataset.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)

print(f"Cleaned dataset saved as {cleaned_file_path}")

<ipython-input-5-de7694612135>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(df_cleaned[col].mean(), inplace=True)

Cleaned dataset saved as Cleaned_Dataset.csv

In [6]:

print(df_cleaned.isnull().sum())

Unnamed: 0     0
Hour           0
HR             0
O2Sat          0
Temp           0
SBP            0
MAP            0
DBP            0
Resp           0
Glucose        0
Age            0
Gender         0
Unit1          0
Unit2          0
HospAdmTime    0
ICULOS         0
SepsisLabel    0
Patient_ID     0
dtype: int64

In [7]:
dropped_columns = missing_percent[missing_percent > 85].index
print("Dropped Columns:", list(dropped_columns))

Dropped Columns: ['EtCO2', 'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN', 'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium', 'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC', 'Fibrinogen', 'Platelets']

In [8]:
print(f"Duplicate rows before removal: {df.duplicated().sum()}")
print(f"Duplicate rows after removal: {df_cleaned.duplicated().sum()}")

Duplicate rows before removal: 0
Duplicate rows after removal: 0

In [9]:
print(f"Original shape: {df.shape}")
print(f"Cleaned shape: {df_cleaned.shape}")

Original shape: (1552210, 44)
Cleaned shape: (1552210, 18)

In [10]:
df_cleaned.head()

,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,Glucose,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
0,0,0,84.581443,97.193955,36.977228,123.750465,82.4001,63.830556,18.726498,136.932283,68.54,0,0.496571,0.503429,-0.02,1,0,17072
1,1,1,65.000000,100.000000,36.977228,123.750465,72.0000,63.830556,16.500000,136.932283,68.54,0,0.496571,0.503429,-0.02,2,0,17072
2,2,2,78.000000,100.000000,36.977228,123.750465,42.5000,63.830556,18.726498,136.932283,68.54,0,0.496571,0.503429,-0.02,3,0,17072
3,3,3,73.000000,100.000000,36.977228,123.750465,82.4001,63.830556,17.000000,136.932283,68.54,0,0.496571,0.503429,-0.02,4,0,17072
4,4,4,70.000000,100.000000,36.977228,129.000000,74.0000,69.000000,14.000000,161.000000,68.54,0,0.496571,0.503429,-0.02,5,0,17072

In [11]:
df_check = pd.read_csv("Cleaned_Dataset.csv")
print(df_check.info())  # Check if the file was saved properly

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552210 entries, 0 to 1552209
Data columns (total 18 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   1552210 non-null  int64
 1   Hour         1552210 non-null  int64
 2   HR           1552210 non-null  float64
 3   O2Sat        1552210 non-null  float64
 4   Temp         1552210 non-null  float64
 5   SBP          1552210 non-null  float64
 6   MAP          1552210 non-null  float64
 7   DBP          1552210 non-null  float64
 8   Resp         1552210 non-null  float64
 9   Glucose      1552210 non-null  float64
 10  Age          1552210 non-null  float64
 11  Gender       1552210 non-null  int64
 12  Unit1        1552210 non-null  float64
 13  Unit2        1552210 non-null  float64
 14  HospAdmTime  1552210 non-null  float64
 15  ICULOS       1552210 non-null  int64
 16  SepsisLabel  1552210 non-null  int64
 17  Patient_ID   1552210 non-null  int64
dtypes: float64(12), int64(6)
memory usage: 213.2 MB
None

In [14]:
import pandas as pd

# Step 1: Load the dataset
file_path = "/content/drive/MyDrive/Cleaned_Dataset.csv"  # Update if needed
df = pd.read_csv(file_path)

# Step 2: Drop specified columns
columns_to_remove = ['Hour', 'Glucose', 'Unit1', 'Unit2', 'HospAdmTime', 'ICULOS', 'Patient_ID']
df_cleaned = df.drop(columns=columns_to_remove, errors='ignore')



# Step 4: Save the new dataset
output_path = "/content/drive/MyDrive/Cleaned_Dataset_No_Unwanted_Columns.csv"
df_cleaned.to_csv(output_path, index=False)
print(f"\nNew dataset saved to: {output_path}")

New dataset saved to: /content/drive/MyDrive/Cleaned_Dataset_No_Unwanted_Columns.csv

In [15]:
import pandas as pd

# Step 1: Load the dataset
file_path = "/content/drive/MyDrive/Cleaned_Dataset.csv"  # Update path if needed
df = pd.read_csv(file_path)

# Step 2: Drop specified columns
columns_to_remove = ['Hour', 'Glucose', 'Unit1', 'Unit2', 'HospAdmTime', 'ICULOS', 'Patient_ID']
df = df.drop(columns=columns_to_remove, errors='ignore')

# Step 3: Reduce to 3 lakh rows (300,000)
# Use sample if you want random selection; use head if you want the first 3 lakh rows
df_reduced = df.sample(n=300000, random_state=42) if len(df) > 300000 else df

# Step 4: Save the reduced dataset
reduced_path = "/content/drive/MyDrive/Cleaned_Dataset_path.csv"
df_reduced.to_csv(reduced_path, index=False)

print(f"Reduced dataset with {len(df_reduced)} rows saved to: {reduced_path}")

Reduced dataset with 300000 rows saved to: /content/drive/MyDrive/Cleaned_Dataset_path.csv

In [16]:
!pip install imbalanced-learn  # Run this once if not already installed

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.11/dist-packages (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (2.0.2)
Requirement already satisfied: scipy<2,>=1.10.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (1.15.3)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (1.6.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (1.5.0)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (3.6.0)

In [19]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# Use uploaded file path
file_path = '/content/drive/MyDrive/Cleaned_Dataset_path.csv'
df = pd.read_csv(file_path)

# Step 1: Fill missing values
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(df[col].mode()[0])  # Fill with mode
    else:
        df[col] = df[col].fillna(df[col].mean())     # Fill with mean

# Step 2: Separate features and target
X = df.drop(columns=['SepsisLabel'])
y = df['SepsisLabel']

# Step 3: Apply SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Step 4: Combine into new DataFrame
df_balanced = pd.DataFrame(X_resampled, columns=X.columns)
df_balanced['SepsisLabel'] = y_resampled

# Step 5: Save the balanced dataset
output_path = '/content/cleaned_sepsiss_data.csv'  # Use Colab's local storage or mount Google Drive if needed
df_balanced.to_csv(output_path, index=False)

# Confirmation
print(f"Saved successfully to: {output_path}")
print("\nBalanced class distribution:\n", df_balanced['SepsisLabel'].value_counts())

Saved successfully to: /content/cleaned_sepsiss_data.csv

Balanced class distribution:
 SepsisLabel
0    294641
1    294641
Name: count, dtype: int64